<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %>
      <% if student.active %>
      (Active)
      <% else %>
      (Inactive)
    <% end %></div>
  <% end %>
</div>
