<h1><%= @student.to_s %></h1>

<!-- why can i not put this code in controller -->
<!-- @student.activity -->
<%= @student.active ? "This student is currently active." : "This student is currently inactive." %>
